<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management Website</title>
    style 

     include ../static/intro.css 
</head>
<body>
    <div id="a">
        <h3>Welcome To Employee Management Website</h3>
        <span>
        <div>
        <mark>The website which helps you to monitor and maintain all the details of the employees</mark>
        </div>
        </span>
        <div>
            <a href="/signup"><button>Getting Started</button></a>
        </div>
    </div>
    
</body>
</html>