<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    style 
     include ../static/updateevent1.css 
</head>
<body>
    <form action="/update1" method="post">
        <div>
            <label for="regno" style="margin-right:30px;">Employee Id</label>
            <input type="text" name="regno" id="regno" placeholder="Enter The Employees's Id">
        </div>
        <div>
        <br>
         <button>Submit</button>
        </div>
        </form>
        <a href="/"><button id="logout">Log Out</button></a>
</body>
</html>