*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-image: url('../static/employe.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#a
{
    text-align: center;
    color: rgb(173, 82, 173);
    text-shadow: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    font-weight: bold;
    font-style: italic;
    position:relative;
    top: 300px;
    left: 350px;
    width: 50%;
}
h3{
    border-bottom: 5px solid gray;
}
mark{
    background-color: rgb(173, 82, 173);
    font-weight: lighter;
    font-size: large;
    font-style: italic;
    color:lightgray;
}
button{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 43%;
    background-color:whitesmoke;
    color:rgb(173, 82, 173);
}
button:hover{
    background-color: rgb(173, 82, 173);
    box-shadow: 5px;
    color: whitesmoke;
}